body {
  font-family: helvetica;
}
p {
  margin-top: 1.5em;
  text-align: justify;
}
a {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 16px;
  margin: 0.5em;
}


h2 {
  color: #D24770;
  font-size: 1.5em;
}
h3 {
  color: #D24770;
  font-size: 1.5em;
  margin-top: 2em;
}

.btn-contact {
  background-color: #D24770;
  border: 1px solid#D24770;
  border-radius: 20px;
  color: white;
  width: 10em;
  margin: 0.4em 1em 0.4em 1em;
  &:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open>.btn-primary.dropdown-toggle:hover, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle.focus {
  background-color: #D24770;
  border: 1px solid #D24770;
  border-radius: 20px;
  color: white;
  width: 10em;
}

.btn-cnt {
background-color: #D24770;
border: 1px solid #D24770;
border-radius: 20px;
color: white;
width: 10em;
&:hover {
  background-color: transparent;
  color: #D24770;
  border: 1px solid #D24770;
  }
}
#home {
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  h1 {
    font-size: 1.8em;
    margin-bottom: 0em;
    margin-top: -2em;
    font-family: helvetica;
    color: white;
    font-weight: bolder;
  }
  h2 {
    color: #c5c5c5;
    margin-top: 0em;
    margin-bottom: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  a {
    font-weight: bold;
    font-size: 18px;
    font-style: helvetica;
  }
}
.banner {
  height: 80vh;
  background-size: cover !important;
  background: center;
}

.card-home {
  margin-top: 2em;
}
#about {
  color: dark-gray;
  margin-bottom: 4em;
  h1 {
    font-size: 1.8em;
    margin-bottom: 0em;
    margin-top: 2em;
    font-family: helvetica;
    color: dark-gray;
    font-weight: bolder;
  }
  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  a {
    font-weight: bold;
    font-size: 18px;
    font-style: helvetica;
  }
  margin: 1em;
}
.about-container {
  p {
    text-align: justify;
  }
}
.container-card {
  p {
    text-align: center;
  }
}
#form {
  margin: 1em;
}

