---
title: Wine Palette - Import french wine to your country.
description: Wine Palette is the global leader of wine export.
---


<div class="container">

  <div id="about">

      <h1 align="center">Import French wines to your country</h1>

    <div class="about-container">

      <h2>Wine Palette</h2>

      <p>Wine Palette is the French wine export solution for Cuvelier & Fauvarque (French quality wine merchant since 1787 in the North of France). It offers the ability to wine sellers all around the world to become French wine importers, by mixing and matching pallets with French wines coming from all regions, and bought from one provider.</p>

      <p>Cuvelier & Fauvarque has been selling French Wine since 1787. This historical French wine seller is relevant to select quality products, and this explains its good add value and "savoir faire".  They are historically wine Négociant of the Place de Bordeaux, so are able to offer constantly over 300 French Wine Grands Crus Classés of Bordeaux that they buy and sell "En Primeur" but also keep and store in their 10km² warehouse and sell them later. Because good French Wines are not only coming from Bordeaux, Cuvelier & Fauvarque and Wine Palette  have now became French wine multi-region Négociant. They are Alsace wine exporters, Burgundy wine exporters, Champaign wine exporters, Côtes du Rhône wine exporters, Provence Wine exporters, Languedoc wine exporters, and South West wine exporters with a range of 600 different wines.</p>

    </div>
  </div>

</div>

