<div class="container">
<h3>Thank you for your interest !</h3>

<p>Please find the price list below.</p>

<object data="/files/pricelist-winepalette.pdf" type="application/pdf" class="pdf">
  <embed src="/files/pricelist-winepalette.pdf" type="application/pdf" />
</object>

<a href="/" class="btn btn-primary btn-cnt">Back to home page</a>

</div>
